Repository sergio-pomarico/atlas: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm run type-check, pnpm run check, pnpm run fix, ultracite fix

feat: update TypeScript configuration files for improved settings and add library.json
  packages/ts-config/base.json
  packages/ts-config/library.json
  packages/ts-config/vite.json
Due: ultracite fix

feat: update tsconfig.json for improved module resolution and path aliases
  apps/api/package.json
  apps/api/src/app.ts
  apps/api/tsconfig.json
Due: pnpm run type-check, pnpm run check, pnpm run fix, ultracite fix

feat: update lintstaged configuration and add zod dependency in pnpm-lock.yaml
  .lintstagedrc.json
  apps/api/src/app.ts
  pnpm-lock.yaml
Due: pnpm run type-check, pnpm run check, pnpm run fix, ultracite fix

feat: add password and login schemas using zod validation
  .lintstagedrc.json
  packages/schemas/lib/auth/login.ts
  packages/schemas/lib/password.ts
  packages/schemas/package.json
Due: pnpm run type-check, pnpm run check, pnpm run fix, ultracite fix

feat: implement logger service using pino
  apps/api/package.json
  apps/api/src/infrastructure/services/logger.ts
  apps/api/src/presentation/routes/index.ts
  apps/api/src/presentation/server.ts
  pnpm-lock.yaml
Due: pnpm run type-check, pnpm run check, pnpm run fix, ultracite fix

feat: implement error midleware
  apps/api/src/domain/errors/app.ts
  apps/api/src/domain/errors/code.ts
  apps/api/src/domain/errors/detail.ts
  apps/api/src/domain/errors/http.ts
  apps/api/src/presentation/middlewares/error.ts
Due: pnpm run type-check, pnpm run check, pnpm run fix

feat: add AsyncStorageService and request ID middleware
  apps/api/src/infrastructure/services/async-storage.ts
  apps/api/src/presentation/middlewares/request-id.ts
Due: pnpm run type-check, pnpm run check, pnpm run fix

feat: add ProfileEntity and UserEntity interfaces with initial structure
  packages/entities/package.json
  packages/entities/profile.ts
  packages/entities/user.ts
Due: pnpm run type-check, pnpm run check, pnpm run fix, ultracite fix

fix: correct import path for password schema and update email validation in login schema
  packages/schemas/lib/auth/login.ts
  packages/schemas/package.json
Due: pnpm run type-check, pnpm run check, pnpm run fix, ultracite fix

feat: add pattern result support
  apps/api/src/domain/result.ts
  apps/api/src/shared/try-catch.ts
Due: pnpm run type-check, pnpm run check, pnpm run fix

feat: add auth module boilerplate
  apps/api/src/modules/auth/domain/error.ts
  apps/api/src/modules/auth/domain/repository.ts
  apps/api/src/modules/auth/domain/use-cases/login.ts
  apps/api/src/modules/auth/infrastructure/container.ts
  apps/api/src/modules/auth/infrastructure/reporitory-impl.ts
  apps/api/src/modules/auth/presentation/controller.ts
  apps/api/src/modules/auth/presentation/route.ts
  apps/api/src/presentation/routes/index.ts
Due: pnpm run type-check, pnpm run check, pnpm run fix

feat: update lint-staged configuration and add new dependencies for Inversify and reflect-metadata
  .lintstagedrc.json
  apps/api/package.json
  apps/api/tsconfig.json
  biome.jsonc
  package.json
  pnpm-lock.yaml
Due: ultracite fix

chore: new folder structure to support modular monolith
  apps/api/src/app.ts
  apps/api/src/modules/auth/domain/error.ts
  apps/api/src/modules/auth/domain/repository.ts
  apps/api/src/modules/auth/domain/use-cases/login.ts
  apps/api/src/modules/auth/infrastructure/container.ts
  apps/api/src/modules/auth/infrastructure/reporitory-impl.ts
  apps/api/src/shared/domain/errors/app.ts
  apps/api/src/shared/domain/errors/code.ts
  apps/api/src/shared/domain/errors/detail.ts
  apps/api/src/shared/domain/errors/http.ts
  apps/api/src/shared/domain/result.ts
  apps/api/src/shared/infrastructure/middlewares/error.ts
  apps/api/src/shared/infrastructure/middlewares/request-id.ts
  apps/api/src/shared/infrastructure/routes.ts
  apps/api/src/shared/infrastructure/server.ts
  apps/api/src/shared/infrastructure/services/async-storage.ts
  apps/api/src/shared/infrastructure/services/logger.ts
  apps/api/src/shared/utils/config.ts
  apps/api/src/shared/utils/try-catch.ts
  apps/api/tsconfig.json
  docs/index.md
Due: pnpm run type-check, pnpm run check, pnpm run fix, ultracite fix

feat: add Prisma ORM integration
  apps/api/package.json
  apps/api/prisma.config.ts
  apps/api/src/shared/infrastructure/data/db.ts
  apps/api/src/shared/infrastructure/data/migrations/20260221162431_init/migration.sql
  apps/api/src/shared/infrastructure/data/migrations/migration_lock.toml
  apps/api/src/shared/infrastructure/data/schema/schema.prisma
  apps/api/src/shared/infrastructure/data/schema/user.prisma
  apps/api/tsconfig.json
  pnpm-lock.yaml
Due: pnpm run type-check, pnpm run check, pnpm run fix, ultracite fix

feat: remove lintstaged
  .gitignore
  .husky/pre-commit
  .lintstagedrc.json
  package.json
  pnpm-lock.yaml
Due: ultracite fix

chore: fix linter errors
  apps/api/prisma.config.ts
  apps/api/tsconfig.json
Due: pnpm run type-check, pnpm run check, pnpm run fix, ultracite fix

feat: add argon2 package to hast and compare passwords
  apps/api/src/modules/auth/domain/password-hasher.ts
  apps/api/src/modules/auth/infrastructure/container.ts
  apps/api/src/modules/auth/infrastructure/password-hasher-impl.ts
Due: pnpm run type-check, pnpm run check, pnpm run fix

feat: basic login with email and pass
  apps/api/src/modules/auth/application/login-usecase.ts
  apps/api/src/modules/auth/domain/repository.ts
  apps/api/src/modules/auth/domain/use-cases/login.ts
  apps/api/src/modules/auth/infrastructure/reporitory-impl.ts
  apps/api/src/modules/auth/presentation/controller.ts
Due: pnpm run type-check, pnpm run check, pnpm run fix

feat: add logic to block user when exceeds five attempts
  apps/api/src/modules/auth/application/login-usecase.ts
  apps/api/src/modules/auth/domain/error.ts
  apps/api/src/modules/auth/domain/repository.ts
  apps/api/src/modules/auth/domain/user.ts
  apps/api/src/modules/auth/infrastructure/reporitory-impl.ts
  packages/entities/profile.ts
  packages/entities/user.ts
Due: pnpm run type-check, pnpm run check, pnpm run fix

fix: fix database connection on prisma client
  apps/api/prisma.config.ts
  apps/api/src/modules/auth/infrastructure/container.ts
  apps/api/src/shared/infrastructure/data/db.ts
  apps/api/src/shared/utils/config.ts
Due: pnpm run type-check, pnpm run check, pnpm run fix

fix: fix login with password logic
  apps/api/src/modules/auth/application/login-usecase.ts
  apps/api/src/modules/auth/infrastructure/password-hasher-impl.ts
  apps/api/src/modules/auth/infrastructure/reporitory-impl.ts
  apps/api/src/modules/auth/presentation/controller.ts
  apps/api/src/shared/domain/result.ts
  apps/api/src/shared/utils/try-catch.ts
Due: pnpm run type-check, pnpm run check, pnpm run fix

feat: implement a secret manager with infisical
  apps/api/package.json
  apps/api/src/shared/infrastructure/services/secret-manager.ts
  pnpm-lock.yaml
Due: pnpm run type-check, pnpm run check, pnpm run fix, ultracite fix

feat: implement a interfase response type
  apps/api/src/modules/auth/domain/error.ts
  apps/api/src/shared/domain/errors/app.ts
  apps/api/src/shared/domain/errors/detail.ts
  apps/api/src/shared/domain/response.ts
Due: pnpm run type-check, pnpm run check, pnpm run fix

feat: implement JWT service in login usecase
  apps/api/src/modules/auth/application/login-usecase.ts
  apps/api/src/modules/auth/infrastructure/container.ts
  apps/api/src/modules/auth/presentation/controller.ts
  apps/api/src/shared/infrastructure/middlewares/error.ts
  apps/api/src/shared/infrastructure/services/jwt.ts
  apps/api/src/shared/utils/properties.ts
Due: pnpm run type-check, pnpm run check, pnpm run fix

feat: inprove login EP response
  apps/api/src/modules/auth/application/login-usecase.ts
  apps/api/src/modules/auth/presentation/controller.ts
  apps/api/src/shared/infrastructure/services/jwt.ts
Due: pnpm run type-check, pnpm run check, pnpm run fix

docs: add basic API documentation
  docs/design/backend/add-new-endpoint-guide.md
  docs/design/backend/architecture.md
  docs/index.md
Due: none

feat: add session table and entity
  apps/api/src/shared/infrastructure/data/migrations/20260307120029_session/migration.sql
  apps/api/src/shared/infrastructure/data/schema/session.prisma
  apps/api/src/shared/infrastructure/data/schema/user.prisma
  packages/entities/session.ts
Due: pnpm run type-check, pnpm run check, pnpm run fix

fix: minors improves on shared folder
  .gitignore
  apps/api/src/modules/auth/presentation/controller.ts
  apps/api/src/shared/infrastructure/middlewares/error.ts
  apps/api/src/shared/infrastructure/services/jwt.ts
  apps/api/src/shared/infrastructure/services/secret-manager.ts
  apps/api/src/shared/utils/config.ts
Due: pnpm run type-check, pnpm run check, pnpm run fix

feat: implement new prisma servise
  apps/api/src/modules/auth/infrastructure/container.ts
  apps/api/src/modules/auth/infrastructure/reporitory-impl.ts
  apps/api/src/shared/infrastructure/data/db.ts
  apps/api/src/shared/infrastructure/services/prisma.ts
Due: pnpm run type-check, pnpm run check, pnpm run fix

feat: add script to run prisma commands with infisical secrets
  apps/api/package.json
  apps/api/prisma.config.ts
  apps/api/scripts/migrate.ts
  apps/api/tsconfig.json
Due: pnpm run type-check, pnpm run check, pnpm run fix, ultracite fix

test: config jest and add test suite for domain layer
  apps/api/jest.config.ts
  apps/api/package.json
  apps/api/setup-tests.ts
  apps/api/src/modules/auth/application/login-usecase.ts
  apps/api/src/modules/auth/domain/__test__/login-usescase.test.ts
  apps/api/src/modules/auth/domain/__test__/user.test.ts
  apps/api/tsconfig.json
  pnpm-lock.yaml
Due: pnpm run type-check, pnpm run check, pnpm run fix, ultracite fix

feat: add auth middleware to guard routes
  apps/api/src/shared/infrastructure/middlewares/auth.ts
  apps/api/src/shared/infrastructure/services/jwt.ts
  apps/api/types/request.d.ts
Due: pnpm run type-check, pnpm run check, pnpm run fix

docs: add database documentation
  docs/design/backend/database.md
Due: none

docs: add infisical documentation
  README.md
  docs/design/backend/infisical-secrets.md
Due: none

feat: add send email services
  apps/api/src/modules/auth/presentation/templates/forgot.html
  apps/api/src/modules/auth/presentation/templates/verify.html
  apps/api/src/shared/infrastructure/services/email.ts
  apps/api/src/shared/utils/email-templates.ts
Due: pnpm run type-check, pnpm run check, pnpm run fix

feat: add client routing and shadcn ui setup
  apps/client/.gitignore
  apps/client/components.json
  apps/client/index.html
  apps/client/package.json
  apps/client/src/app.tsx
  apps/client/src/components/ui/button.tsx
  apps/client/src/lib/utils.ts
  apps/client/src/main.tsx
  apps/client/src/router.ts
  apps/client/src/routes/__root.tsx
  apps/client/src/routes/app/index.tsx
  apps/client/src/routes/app/route.tsx
  apps/client/src/routes/index.tsx
  apps/client/src/routes/login.tsx
  apps/client/src/styles/globals.css
  apps/client/src/vite-env.d.ts
  apps/client/tailwind.config.ts
  apps/client/tsconfig.app.json
  apps/client/tsconfig.json
  apps/client/tsconfig.node.json
  apps/client/vite.config.ts
  pnpm-lock.yaml
Due: pnpm run type-check, pnpm run check, pnpm run fix, ultracite fix

chore: format client and config
  apps/client/index.html
  apps/client/src/components/ui/button.tsx
  apps/client/src/main.tsx
  apps/client/vite.config.ts
  biome.jsonc
  packages/ts-config/vite.json
Due: pnpm run type-check, pnpm run check, pnpm run fix, ultracite fix

ci: add changesets to generate changelogs and semantic version
  .changeset/README.md
  .changeset/config.json
  .github/release.yml
  package.json
  pnpm-lock.yaml
Due: ultracite fix

docs: implement openspec in project
  .opencode/commands/opsx-apply.md
  .opencode/commands/opsx-archive.md
  .opencode/commands/opsx-explore.md
  .opencode/commands/opsx-propose.md
  .opencode/skills/openspec-apply-change/SKILL.md
  .opencode/skills/openspec-archive-change/SKILL.md
  .opencode/skills/openspec-explore/SKILL.md
  .opencode/skills/openspec-propose/SKILL.md
  openspec/config.yaml
Due: none

docs: switch openspec tasks to linear
  .opencode/commands/opsx-apply.md
  .opencode/commands/opsx-archive.md
  .opencode/commands/opsx-explore.md
  .opencode/commands/opsx-propose.md
  .opencode/skills/openspec-apply-change/SKILL.md
  .opencode/skills/openspec-archive-change/SKILL.md
  .opencode/skills/openspec-explore/SKILL.md
  .opencode/skills/openspec-propose/SKILL.md
Due: none

Path conditions:
  pnpm run type-check: any of: *.{js,ts,tsx,jsx}
  pnpm run check: any of: *.{js,ts,tsx,jsx}
  pnpm run fix: any of: *.{js,ts,tsx,jsx}
  ultracite fix: any of: *.json
